body{
    background: linear-gradient(darkgreen, green, lightgreen, white);
}

#numbers{
    font-size: 25px;
    margin-right: 1700px;
}

#number{
    font-size: 25px;
    float: right;
    margin-right: 10px;
}

#draw{
    color: red;
}